<!DOCTYPE html>
<html lang="en">
  <body>
    <section class="">
      <div class="container d-flex flex-column text-center py-3 gap-2">
        <div class="d-flex justify-content-center gap-3">
          <a
            href="https://github.com/MananKanani5/"
            target="_blank"
            class="text-black fs-5"
            ><i class="fa-brands fa-github"></i
          ></a>
          <a
            href="https://www.instagram.com/m_a_n_a_n_02/"
            target="_blank"
            class="text-black fs-5"
            ><i class="fa-brands fa-instagram"></i
          ></a>
        </div>
        <p class="m-0">
          Designed and Developed by
          <a
            href="http://manankanani.in"
            target="_blank"
            class="text-decoration-none text-primary"
          >
            Manan Kanani</a
          >
        </p>
        <p class="m-0">
          This project is intended solely for educational purposes. I do not
          endorse or support any illegal activities.
        </p>
      </div>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="/main.js"></script>
  </body>
</html>
